@media print {
  body * {
    visibility: hidden !important;
  }
  #printArea, #printArea * {
    visibility: visible !important;
  }
  #printArea {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 20px;
    width: 100%;
  }
}
.print-wrapper h1 {
  margin-top: 0;
}
.print-wrapper .stage {
  margin-bottom: 20px;
}
#printArea pre {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 8px;
  white-space: pre-wrap;
}
